.text {
  color: #000000;
  font-family: 'Roboto';
}
.text-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button {
  align-self: center;
  justify-content: space-between;
  margin-left: 5px;
  background-color: transparent;
  color: #ff0b37;
  border: 1px solid #ff0b37;
  border-radius: 8px;
  height: 30px;
}
